@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #6d7d93;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Almarai", sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

/* End Global Rules */

/* Start Header */

.header {
  background: #3bbfa7;
  width: 100% !important;
}

.header h3 {
  padding: 15px;
  color: white;
  text-align: center;
  justify-content: center;
  /* font-weight: bold; */
}

/* Start Contact 2 */
.contact form {
  overflow: hidden;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background: #ffffff;
}

.contact form .first-name {
  padding: 10px;
  margin: 10px auto;
  width: 50%;
}

.contact form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border-radius: 10px;
  border: 2px solid #cacaca;
}

.contact form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #231f20;
}

.contact form .form_button {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  border: none;
  margin-top: 20px;
  padding: 10px 80px;
  border-radius: 68px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background: #3bbfa7;
}

.contact form .order {
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.contact form .order:hover {
  color: #3bbfa7;
}

@media (max-width: 967px) {
  .contact form .first-name {
    width: 60%;
  }
}

@media (max-width: 567px) {
  .contact form .first-name {
    width: 80%;
  }
}

/* End Contact 2*/

/* Start table 3 */

.all_table {
  /* overflow: hidden; */
  margin: auto;
  padding: 30px;
}

.all_table .consulta {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.all_table .consulta .btn_modal {
  display: block;
  margin: auto;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background: #3bbfa7;
}

.all_table .table {
  text-align: center !important;
  justify-content: center !important;
}

/* End table 3*/

/* Start modal */
.modal {
  padding-top: 70px;
}

.modal-content {
  border: none !important;
  box-shadow: 0px 17px 44px 0px #b3b3b340 !important;
}

.close_modal {
  text-align: end !important;
}

@media (max-width: 567px) {
  .modal {
    padding: 170px 20px 0 !important;
  }
}

/* End modal */

.table_title {
  padding: 10px 20px 0;
  width: 85%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.table_content_left,
.table_content_right {
  margin-top: 7px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #339aff;
}

.table_content_left p,
.table_content_right p {
  width: 50%;
  height: 48px;
  font-size: 17px;
  padding-top: 11px;
  color: #ffffff;
  background: #339aff;
  border-radius: 8px 0 0 8px;
}

.table_content_left h3,
.table_content_right h3 {
  font-size: 17px;
  width: 50%;
  height: 66px;
  padding-top: 13px;
  color: #000000;
}

.table_content_left .status,
.table_content_right .status {
  color: #8ee0dd;
}

.doctor {
  height: 100px !important;
}

.doctor p {
  padding-top: 33px;
  height: 98px !important;
}

.doctor_img {
  width: 100px;
  height: 70px;
}

/* .right {
  width: 45%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 60px;
  border-radius: 10px;
  border: 2px solid red;
} */
